/*__reajust HTML____*/
html{
	margin: 0px;
	padding: 0px;
}
button{
	outline:none;
}
/*____Custom stile____*/
body{
	background-color: #F0EEEE;
	
}
div.header{
	margin-top:32px;
}
.sep_header{
	border-top: 1px solid #a0a0a0;
}
.hidden_element{
	display: none;
}
/*____Remove item button____*/
a.removeItemButton{
   padding: .5px 5px;
}
a.removeItemButton:hover{
	text-decoration: none;
	color: white;
	background-color: grey; 
	border-radius: 50%;
}

/*____pop up block____*/
.overlay-form{
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	z-index: 9998;
	width: 100%;
	height: 100%;
	top: 0px;
}
#pop-up-form-grandfather{
	z-index: 9999;
	position: absolute;
	width: 100%;
	height: auto;
  top: 50%;
  	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -80%);
	padding: : 12px 0px;
}
#pop-up-form{
	background-color: white;
	border-radius: 2px;
	padding-bottom:12px;
	margin-top:12px;
}
#center-container-form{
    padding-top: 13px;
}
.hr-pop-up{
	border-top: 1px solid grey;

}
h3.pop-up-title{
	margin:5px;
	margin-top: 12px;
}
.close-pop-up{
	padding-right: 1%;
  padding-top: .3%;
  font-size: 16px;
  color: grey;
}
.close-pop-up:hover{
	color: black;
}
/*____Footer____*/
#open-add{
	padding: 8px 14px;
	border-radius: 50%;
	background-color: #3d8be8;
	position: fixed;
	bottom: 20px;
	right: 20px;
  border-style: none;	
}
#open-add i{
	color: white;
	font-size: 12px
}